COLLECTOR_REDIS_ENABLED=true
COLLECTOR_REDIS_HOST=localhost
COLLECTOR_REDIS_TLS_ENABLED=false
COLLECTOR_REDIS_PORT=6379
COLLECTOR_REDIS_PASSWORD=dev
COLLECTOR_REDIS_STREAM_KEYS=stream_key_1,stream_key_2
COLLECTOR_REDIS_SORTED_SET_KEYS=sorted_set_key_1,sorted_set_key_2
COLLECTOR_REDIS_PERIODICITY_SECONDS=60

COLLECTOR_MONGODB_ENABLED=true
COLLECTOR_MONGODB_URL=mongodb://localhost:27017
COLLECTOR_MONGODB_USERNAME=dev
COLLECTOR_MONGODB_PASSWORD=dev
COLLECTOR_MONGODB_AUTH_SOURCE=admin
COLLECTOR_MONGODB_PERIODICITY_SECONDS=60

EXPORTER_NEW_RELIC_ENABLED=true
EXPORTER_NEW_RELIC_ENDPOINT=https://metric-api.newrelic.com/metric/v1 
EXPORTER_NEW_RELIC_LICENSE_KEY=dev
EXPORTER_NEW_RELIC_APP_NAME=Metricestan
EXPORTER_NEW_RELIC_PERIODICITY_SECONDS=30